<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- header -->
    <header>
        <h1>Joey's Image Host</h1>
    </header>
    <!-- 图片展示 -->
    <div id="fileList"></div>
     <!-- 右下角固定控件，➕ -->
    <button class="floating-button" onclick="openModal()">+</button>
    <!-- 上传图片模态框 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="shadow-area">
                <div class="info-text">将图片拖拽至此，或选择文件上传</div>
            </div>
            <div class="imgs-area" id="uploadedImgs"></div> <!-- 图片暂存区 -->
            <button class="select-btn" onclick="openFilePicker()">选择图片</button>
            <input type="file" id="fileInput" onchange="handleFileSelect()" multiple accept=".png, .PNG, .jpg, .JPG, .jpeg, .JPEG, .gif, .GIF,
                      .bmp, .BMP, .tiff, .TIFF, .webp, .ICO, .ico" style="display: none;">
            <button class="upload-btn" onclick="uploadFiles()">确定上传</button>
        </div>
    </div>
</body>
</html>
